@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "Computer Modern";
  src: url("https://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf");
}

@font-face {
  font-family: "Computer Modern";
  src: url("https://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url("https://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf");
  font-style: italic, oblique;
}

@font-face {
  font-family: "Computer Modern";
  src: url("https://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  font-weight: bold;
  font-style: italic, oblique;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans p-4 lg:p-8 lg:py-0 lg:m-0 flex flex-col gap-4
  selection:bg-neutral-950 selection:text-white accent-stone-500;
}

header {
  @apply prose prose-neutral !max-w-none w-full flex-col md:flex-row
pb-4 md:py-0;
}

header h1 {
  @apply m-0;
}

article {
  @apply prose prose-neutral flex-grow prose-p:text-justify !max-w-none lg:py-8;
}

footer {
  @apply lg:pb-8;
}

article.padded {
  @apply !mx-auto w-full !max-w-none sm:!max-w-prose lg:py-12;
}

a {
  @apply underline;
}

.math.display {
  @apply font-math my-2 text-center w-full;
}

.math.inline {
  @apply font-math;
}

.toc-article {
  @apply flex flex-col lg:flex-row gap-2 relative;
}

.desktop-only {
  @apply hidden lg:visible;
}

.mobile-only {
  @apply lg:hidden;
}

.toc {
  @apply mx-auto w-full prose prose-neutral text-left lg:text-sm
lg:max-w-48 lg:sticky left-0 top-0 lg:prose-sm lg:prose-h1:text-lg lg:mx-0
lg:py-12 overflow-auto;
}

.popup-content {
  @apply bg-white;
}

@media (min-width: 1024px) {
  body:has(#dark-lg:checked) {
    @apply bg-neutral-900 text-neutral-50 print:bg-white
print:text-black selection:bg-white selection:text-black;
  }

  body:has(#dark-lg:checked) .popup-content {
    @apply bg-neutral-900 text-neutral-50
print:hidden;
  }

  body:has(#dark-lg:checked) header {
    @apply prose-invert bg-neutral-900
text-neutral-50 print:hidden;
  }

  body:has(#dark-lg:checked) article {
    @apply prose-invert bg-neutral-900
text-neutral-50 print:bg-white print:text-black print:prose-neutral;
  }

  body:has(#dark-lg:checked) .toc {
    @apply prose-invert bg-neutral-900
text-neutral-50 print:bg-white print:text-black print:prose-neutral;
  }

  body:has(#serif-lg:checked) {
    @apply !font-serif;
  }
}

@media (max-width: 1024px) {
  body:has(#dark:checked) {
    @apply bg-neutral-900 text-neutral-50 print:bg-white
print:text-black selection:bg-white selection:text-black;
  }

  body:has(#dark:checked) .popup-content {
    @apply bg-neutral-900 text-neutral-50
print:hidden;
  }

  body:has(#dark:checked) header {
    @apply prose-invert bg-neutral-900
text-neutral-50 print:hidden;
  }

  body:has(#dark:checked) article {
    @apply prose-invert bg-neutral-900
text-neutral-50 print:bg-white print:text-black print:prose-neutral;
  }

  body:has(#dark:checked) .toc {
    @apply prose-invert bg-neutral-900
text-neutral-50 print:bg-white print:text-black print:prose-neutral;
  }

  body:has(#serif:checked) {
    @apply !font-serif;
  }
}
